.icon {
  display: inline-flex;
  vertical-align: middle;
  line-height: 0;
}

.sizeSmall {
  width: 16px;
  height: 16px;
}

.sizeMedium {
  width: 24px;
  height: 24px;
}

.sizeLarge {
  width: 32px;
  height: 32px;
}
